name: Publish yew-feather

on:
  release:
    types: [created]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Install node
        uses: actions/setup-node@v2
        with:
          node-version: 16

      - name: Install rust
        uses: actions-rs/toolchain@v1.0.6
        with:
          toolchain: stable
          override: true
          profile: minimal

      - name: Publish
        uses: katyo/publish-crates@v1
        with:
          registry-token: ${{ secrets.cargo_token }}
